<h1>Home</h1>
<p>Pagina inical, publica</p>
<% if current_user %>
<p> Olá, <%=h current_user.login%>
<p><%= link_to "Edit profile", edit_user_path(:current)%> | <%= link_to "Logout", logout_path%></p>
<% else	%>
<p><%= link_to "Register", new_user_path%> | <%= link_to "Login", login_path%></p>
<% end %>
<p><%= link_to "Private", private_content_path %></p>
